@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
    margin: 0;
    padding: 0;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* .navbar {
  @apply flex flex-col text-black-100  mt-5 border-t border-gray-100;
} */

.navbar__links-container {
    @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.navbar__rights {
    @apply flex flex-col justify-start items-start gap-6;
}

.navbar__links {
    @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.navbar__link {
    @apply flex flex-col gap-6 text-base min-w-[170px];
}

/* .footer {
  @apply flex flex-col text-black-100  mt-5 border-t border-gray-100;
} */

.footer__links-container {
    @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
    @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
    @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
    @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
    @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
    @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
